@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>This application saves locally information about the last user that has logged in.</p>
        <p>This application SENDS and RECIEVES personal information about the user such as Account Name, Password(encrypted), Nickname and Email, as well as personal data about the user, provided with his/her explicit agreement.</p>
        <p>The information provided will be in no way distributed to third party indivudials or officials.</p>
        <p>Special measurements have been taken to prevent information leakage.</p>
        <p>If you have any question about the secrecy policy, do not hesitate to contact us at:</p>
        <p>chalakovalina@gmail.com</p>
    </div>
</body>
</html>